    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


    $ct-blue: #4c6b89;
    $tt-yellow: #c9b08e;
    $delete-red: #ff4d4d;
    $text-color: #ffffff;
    $background-color: #1c1c1c;
    $border-color: #333;
    $button-hover-bg: #222;

    body {
        background-color: $background-color;
        color: $text-color;
        font-family: 'Rajdhani', sans-serif;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image:url(../img/wallpaper.webp);
    }

    .main-container {
        display: flex;
        width: 90%;
        height: 90%;
        max-width: 1600px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.925);
        border: 2px solid $border-color;
        backdrop-filter: blur(8px);
    }

    .map-container {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-right: 2px solid $border-color;
        object {
            width: 100%;
            height: 90%;
            max-width: 900px;
            max-height: 700px;
        }
    }

    .sidebar {
        flex: 1;
        padding: 20px;
        background-color: #1e1e1e;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 20px;
            
            h1 {
                font-family: 'Roboto Mono', monospace;
                font-size: 1.8rem;
                font-weight: bold;
                color: $ct-blue;
                text-align: left;
                margin-left: 10px; 
            }
        }

        .map-selector {
            margin-bottom: 20px;
            label {
                font-size: 1.2rem;
                margin-bottom: 10px;
                display: block;
                color: white;
            }
            select {
                padding: 10px;
                border: 2px solid white;
                background-color: #000;
                color: $text-color;
                font-family: 'Rajdhani', sans-serif;
                width: 100%;
            }
            input[type="file"] {
                margin-top: 10px;
                padding: 10px;
                width: 100%;
                color: $text-color;
                background-color: #222;
                border: 2px solid $ct-blue;
                font-family: 'Rajdhani', sans-serif;
            }
        }

        #titulo{
            font-family: "SUSE", sans-serif;
            color: white;
        }

        #icon {
            width: 50px;
            border-radius: 5px;
            margin-right: 10px; 
        }

        .tools, .icons {
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                margin: 10px 0;
                padding: 15px;
                background-color: $border-color;
                color: $text-color;
                border: 3px solid $ct-blue;
                border-radius: 8px;
                font-size: 1rem;
                font-family: 'Rajdhani', sans-serif;
                width: 80%;
                cursor: pointer;
                transition: background-color 0.7s ease, color 0.7s ease;

                &:hover {
                    background-color: $button-hover-bg;
                    color: white;
                    border-color: $tt-yellow;
                    transform: scale(1.05);
                }

                i {
                    margin-right: 8px;
                }

                &.clear-btn {
                    border-color: none;
                    padding-left: 20px;
                    border: none;
                    width: 60px;
                    &:hover {
                        background-color: #ff4d4d;
                        color: #fff;
                        transition: background-color 0.7s ease, color 0.7s ease;
                    }
                }

                &.export-btn {
                    background-color: $ct-blue;
                    width: auto;
                    padding: 15px 20px;
                    height: 60px;
                    &:hover {
                        background-color: lighten($ct-blue, 10%);
                        color: #fff;
                        transition: background-color 0.7s ease, color 0.7s ease;
                    }
                }
            }
        }

        .action-buttons {
            display: flex;
            justify-content: flex-start;
            width: 80%;
            gap: 10px;
        }

        button:hover {
            transition: background-color 0.7s ease;
        }

        .ct-btn:hover {
            background-color: $ct-blue;
            color: #fff;
        }

        .tt-btn:hover {
            background-color: $tt-yellow;
            color: #000;
        }
    }

    #footer{
        a{
            color: white;
        }
        a:hover{
            color: $tt-yellow;
            transition: 0.7s;
        }
    }

    @media (max-width: 768px) {
        .main-container {
            flex-direction: column;
            height: 100%;
        }

        .map-container {
            width: 100%;
            border-right: none;
            border-bottom: 2px solid $border-color;
        }

        .sidebar {
            width: 100%;
        }
    }
